---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

city_home_price = pd.read_csv('City_Zhvi_AllHomes.csv')
city_home_price

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
5,18959,Las Vegas,NV,Las Vegas,Clark,6,121600.0,120900.0,120400.0,120300.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
6,54296,San Diego,CA,San Diego,San Diego,7,161100.0,160700.0,160400.0,160100.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
7,38128,Dallas,TX,Dallas-Fort Worth,Dallas,8,NaN,NaN,NaN,NaN,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
8,33839,San Jose,CA,San Jose,Santa Clara,9,224500.0,224900.0,225400.0,226100.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
9,25290,Jacksonville,FL,Jacksonville,Duval,10,77500.0,77200.0,76800.0,76600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
10,20330,San Francisco,CA,San Francisco,San Francisco,11,262500.0,263500.0,264100.0,265000.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
11,10221,Austin,TX,Austin,Travis,12,NaN,NaN,NaN,NaN,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
12,17762,Detroit,MI,Detroit,Wayne,13,NaN,NaN,NaN,NaN,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
13,10920,Columbus,OH,Columbus,Franklin,14,83100.0,83200.0,83300.0,83500.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
14,32811,Memphis,TN,Memphis,Shelby,15,60600.0,60500.0,60700.0,60800.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
15,24043,Charlotte,NC,Charlotte,Mecklenburg,16,94500.0,94900.0,95700.0,96400.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
16,17933,El Paso,TX,El Paso,El Paso,17,67400.0,67800.0,68000.0,68300.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
17,44269,Boston,MA,Boston,Suffolk,18,123100.0,122800.0,123100.0,123800.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
18,16037,Seattle,WA,Seattle,King,19,164400.0,163900.0,163600.0,163400.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
19,3523,Baltimore,MD,Baltimore,Baltimore City,20,53200.0,53900.0,54400.0,54700.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
20,11093,Denver,CO,Denver,Denver,21,98700.0,99200.0,99600.0,100200.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
21,41568,Washington,DC,Washington,District of Columbia,22,NaN,NaN,NaN,NaN,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
22,6118,Nashville,TN,Nashville,Davidson,23,83100.0,83800.0,84800.0,85900.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
23,5976,Milwaukee,WI,Milwaukee,Milwaukee,24,68100.0,68100.0,68100.0,67800.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
24,7481,Tucson,AZ,Tucson,Pima,25,91500.0,91500.0,91600.0,91500.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
25,13373,Portland,OR,Portland,Multnomah,26,121100.0,122200.0,123000.0,123600.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
26,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,27,64900.0,65400.0,65700.0,65800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
27,40152,Omaha,NE,Omaha,Douglas,28,88900.0,89600.0,90400.0,90800.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
28,23429,Albuquerque,NM,Albuquerque,Bernalillo,29,115400.0,115600.0,116000.0,116700.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
29,18203,Fresno,CA,Fresno,Fresno,30,90400.0,90400.0,90200.0,90000.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,49199,Granite Shoals,TX,NaN,Burnet,10701,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
10701,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10702,148400.0,152300.0,153600.0,153100.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
10702,50374,Maribel,WI,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
10703,50539,Middleton,ID,Boise City,Canyon,10704,103100.0,103200.0,103300.0,103000.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
10704,50963,Bennett,CO,Denver,Adams,10705,83800.0,85900.0,87100.0,88100.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
10705,51793,East Hampstead,NH,Boston,Rockingham,10706,132200.0,128600.0,125500.0,125200.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
10706,52166,Garden City,MO,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
10707,53456,Mountainburg,AR,Fort Smith,Crawford,10708,55600.0,55500.0,55400.0,56200.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
10708,53730,Oostburg,WI,Sheboygan,Sheboygan,10709,86300.0,84900.0,83800.0,83700.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
10709,54771,Twin Peaks,CA,Riverside,San Bernardino,10710,85500.0,85200.0,84600.0,84400.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
10710,54802,Upper Brookville,NY,New York,Nassau,10711,897200.0,894000.0,891300.0,894400.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
10711,54995,Volcano,HI,Hilo,Hawaii,10712,114600.0,108600.0,102400.0,96700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
10712,55072,Wedgefield,SC,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
10713,55210,Williamston,MI,Lansing,Ingham,10714,120900.0,124800.0,128200.0,130200.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
10714,55357,Decatur,AR,Fayetteville,Benton,10715,54700.0,55100.0,55100.0,54700.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
10715,55476,Briceville,TN,Knoxville,Anderson,10716,37000.0,37500.0,36700.0,36100.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
10716,55706,Edgewood,IN,Indianapolis,Madison,10717,NaN,NaN,NaN,NaN,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
10717,56183,Palmyra,TN,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
10718,56845,Saint Inigoes,MD,California-Lexington Park,Saint Marys,10719,137400.0,136900.0,137500.0,138600.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
10719,56943,Marysville,IN,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
10720,57212,Forest Falls,CA,Riverside,San Bernardino,10721,76400.0,75600.0,74100.0,73100.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
10721,171874,Bois D Arc,MO,Springfield,Greene,10722,77700.0,77500.0,77700.0,78600.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
10722,182023,Henrico,VA,Richmond,Henrico,10723,110200.0,110500.0,110900.0,111100.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
10723,188693,Diamond Beach,NJ,Ocean City,Cape May,10724,136500.0,136800.0,137000.0,135200.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
10724,227014,Gruetli Laager,TN,NaN,Grundy,10725,24800.0,24300.0,24500.0,25000.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
10725,398292,Town of Wrightstown,WI,Green Bay,Brown,10726,NaN,NaN,NaN,NaN,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
10726,398343,Urbana,NY,Corning,Steuben,10727,66900.0,65800.0,65500.0,65100.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
10727,398496,New Denmark,WI,Green Bay,Brown,10728,NaN,NaN,NaN,NaN,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
10728,398839,Angels,CA,NaN,Calaveras,10729,115600.0,116400.0,118000.0,119000.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
10729,399114,Holland,WI,Sheboygan,Sheboygan,10730,129900.0,130200.0,130300.0,129100.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [4]:
list(open('university_towns.txt'))

['Alabama[edit]\n',
 'Auburn (Auburn University)[1]\n',
 'Florence (University of North Alabama)\n',
 'Jacksonville (Jacksonville State University)[2]\n',
 'Livingston (University of West Alabama)[2]\n',
 'Montevallo (University of Montevallo)[2]\n',
 'Troy (Troy University)[2]\n',
 'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n',
 'Tuskegee (Tuskegee University)[5]\n',
 'Alaska[edit]\n',
 'Fairbanks (University of Alaska Fairbanks)[2]\n',
 'Arizona[edit]\n',
 'Flagstaff (Northern Arizona University)[6]\n',
 'Tempe (Arizona State University)\n',
 'Tucson (University of Arizona)\n',
 'Arkansas[edit]\n',
 'Arkadelphia (Henderson State University, Ouachita Baptist University)[2]\n',
 'Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]\n',
 'Fayetteville (University of Arkansas)[7]\n',
 'Jonesboro (Arkansas State University)[8]\n',
 'Magnolia (Southern Arkansas University)[2]\n',
 'Monticello (University of Arkansas at Monticello)[2]\n',
 'Russellville (Arkansas Tech University)[2]\n',
 'Searcy (Harding University)[5]\n',
 'California[edit]\n',
 'Angwin (Pacific Union College)[2]\n',
 'Arcata (Humboldt State University)[5]\n',
 'Berkeley (University of California, Berkeley)[5]\n',
 'Chico (California State University, Chico)[2]\n',
 'Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]\n',
 'Cotati (California State University, Sonoma)[2]\n',
 'Davis (University of California, Davis)[1]\n',
 'Irvine (University of California, Irvine)\n',
 'Isla Vista (University of California, Santa Barbara)[2]\n',
 'University Park, Los Angeles (University of Southern California)\n',
 'Merced (University of California, Merced)\n',
 'Orange (Chapman University)\n',
 'Palo Alto (Stanford University)\n',
 'Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College\n',
 'Redlands (University of Redlands)\n',
 'Riverside (University of California, Riverside, California Baptist University, La Sierra University)\n',
 'Sacramento (California State University, Sacramento)\n',
 'University District, San Bernardino (California State University, San Bernardino, American Sports University)\n',
 'San Diego (University of California, San Diego, San Diego State University)\n',
 'San Luis Obispo (California Polytechnic State University)[2]\n',
 'Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]\n',
 'Santa Cruz (University of California, Santa Cruz)[2]\n',
 'Turlock (California State University, Stanislaus)\n',
 'Westwood, Los Angeles (University of California, Los Angeles)[2]\n',
 'Whittier (Whittier CollegeRio Hondo College)\n',
 'Colorado[edit]\n',
 'Alamosa (Adams State College)[2]\n',
 'Boulder (University of Colorado at Boulder)[12]\n',
 'Durango (Fort Lewis College)[2]\n',
 'Fort Collins (Colorado State University)[13]\n',
 'Golden (Colorado School of Mines)\n',
 'Grand Junction (Colorado Mesa University)\n',
 'Greeley (University of Northern Colorado)\n',
 'Gunnison (Western State College)[2]\n',
 'Pueblo, Colorado (Colorado State University-Pueblo)\n',
 'Connecticut[edit]\n',
 'Fairfield (Fairfield University, Sacred Heart University)\n',
 'Middletown (Wesleyan University)\n',
 'New Britain (Central Connecticut State University)\n',
 'New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]\n',
 'New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]\n',
 'Storrs (University of Connecticut)[2]\n',
 'Willimantic (Eastern Connecticut State University)[2]\n',
 'Delaware[edit]\n',
 'Dover (Delaware State University)[1]\n',
 'Newark (University of Delaware)[1]\n',
 'Florida[edit]\n',
 'Ave Maria (Ave Maria University)\n',
 'Boca Raton (Florida Atlantic University)\n',
 'Coral Gables (University of Miami)\n',
 'DeLand (Stetson University)[5]\n',
 'Estero (Florida Gulf Coast University)\n',
 'Gainesville (University of Florida, Santa Fe College)\n',
 'Orlando (University of Central Florida)\n',
 'Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)\n',
 'St. Augustine (Flagler College)\n',
 'St. Leo (St. Leo University)\n',
 'Tallahassee (Florida State University, Florida A&M University)\n',
 'Tampa (University of South Florida)\n',
 'Georgia[edit]\n',
 'Albany (Albany State University)\n',
 'Athens (University of Georgia)[15]\n',
 'Atlanta (Georgia State University, Georgia Tech, Emory)[2]\n',
 'Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]\n',
 'Demorest (Piedmont College)[2]\n',
 'Fort Valley (Fort Valley State University)[2]\n',
 'Kennesaw (Kennesaw State University)\n',
 'Milledgeville (Georgia College & State University)[2]\n',
 'Mount Vernon (Brewton-Parker College)[2]\n',
 'Oxford (Oxford College)\n',
 'Rome (Berry College, Shorter University)\n',
 'Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)\n',
 'Statesboro (Georgia Southern University)[5]\n',
 'Valdosta (Valdosta State University)[2]\n',
 'Waleska (Reinhardt College)[2]\n',
 'Young Harris (Young Harris College)[2]\n',
 'Hawaii[edit]\n',
 'Manoa (University of Hawaii at Manoa)[2]\n',
 'Idaho[edit]\n',
 'Moscow (University of Idaho)[2]\n',
 'Pocatello (Idaho State University)[2]\n',
 'Rexburg (BYU-Idaho)[2]\n',
 'Illinois[edit]\n',
 'Carbondale (Southern Illinois University Carbondale)[5]\n',
 'ChampaignUrbana (University of Illinois at UrbanaChampaign)[5]\n',
 'Charleston (Eastern Illinois University)[2]\n',
 'DeKalb (Northern Illinois University)[2]\n',
 'Edwardsville (Southern Illinois University Edwardsville)[2]\n',
 'Evanston (Northwestern University)[2]\n',
 'Lebanon (McKendree University)[2]\n',
 'Macomb (Western Illinois University)[2]\n',
 'Normal (Illinois State University)[2]\n',
 'Peoria (Bradley University)\n',
 'Indiana[edit]\n',
 'Bloomington (Indiana University Bloomington)[5]\n',
 'Crawfordsville (Wabash College)\n',
 'Greencastle (DePauw University)[5]\n',
 'Hanover (Hanover College)[2]\n',
 'Marion (Indiana Wesleyan University)[2]\n',
 'Muncie (Ball State University)[2]\n',
 'Oakland City (Oakland City University)[2]\n',
 'Richmond (Earlham College)[2]\n',
 'South Bend (Notre Dame University[2])\n',
 'Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]\n',
 'Upland (Taylor University)[2]\n',
 'Valparaiso (Valparaiso University)\n',
 'West Lafayette (Purdue University)[2]\n',
 'Iowa[edit]\n',
 'Ames (Iowa State University)[2]\n',
 'Cedar Falls (University of Northern Iowa)[2]\n',
 'Cedar Rapids, Iowa (Coe College )\n',
 'Decorah (Luther College)[5]\n',
 'Fayette (Upper Iowa University)[2]\n',
 'Grinnell (Grinnell College)[15]\n',
 'Iowa City (University of Iowa)[15]\n',
 'Lamoni (Graceland University)[2]\n',
 'Mount Vernon, (Cornell College)\n',
 'Orange City (Northwestern College)[2]\n',
 'Sioux Center (Dordt College)[2]\n',
 'Storm Lake (Buena Vista University)[2]\n',
 'Waverly (Wartburg College)[2]\n',
 'Kansas[edit]\n',
 'Baldwin City (Baker University)[5]\n',
 'Emporia (Emporia State University)[2]\n',
 'Hays (Fort Hays State University)[2]\n',
 'Lawrence (University of Kansas, Haskell Indian Nations University)[15]\n',
 'Manhattan (Kansas State University, Manhattan Christian College)[15]\n',
 'Pittsburg (Pittsburg State University)[2]\n',
 'Kentucky[edit]\n',
 'Bowling Green (Western Kentucky University)[2]\n',
 'Columbia (Lindsey Wilson College)[2]\n',
 'Georgetown (Georgetown College)\n',
 'Highland Heights (Northern Kentucky University)\n',
 'Lexington (University of Kentucky, Transylvania University[5]\n',
 'Louisville (University of Louisville)\n',
 'Morehead (Morehead State University)[2]\n',
 'Murray (Murray State University)[5]\n',
 'Richmond (Eastern Kentucky University)[2]\n',
 'Williamsburg (University of the Cumberlands)[2]\n',
 'Wilmore (Asbury University, Asbury Theological Seminary)[2]\n',
 'Louisiana[edit]\n',
 'Baton Rouge (Louisiana State University, Southern University)\n',
 'Grambling (Grambling State University)[5]\n',
 'Hammond (Southeastern Louisiana University)[2]\n',
 'Lafayette (University of Louisiana at Lafayette)\n',
 'Monroe (University of Louisiana at Monroe)[2]\n',
 'Natchitoches (Northwestern State University)[2]\n',
 'Ruston (Louisiana Tech University)[2]\n',
 'Thibodaux (Nicholls State University)[2]\n',
 'Maine[edit]\n',
 'Augusta (University of Maine at Augusta)[2]\n',
 'Bar Harbor (College of the Atlantic)\n',
 'Brunswick (Bowdoin College)\n',
 'Farmington (University of Maine at Farmington)[2]\n',
 'Fort Kent (University of Maine at Fort Kent)\n',
 'Gorham (University of Southern Maine)[2]\n',
 'Lewiston, Maine (Bates College)\n',
 'Orono (University of Maine)[2]\n',
 'Waterville (Thomas College, Colby College)\n',
 'Maryland[edit]\n',
 "Annapolis (United States Naval Academy, St. John's College)\n",
 'Chestertown (Washington College)[2]\n',
 'College Park (University of Maryland, College Park)[16]\n',
 'Cumberland (Allegany College of Maryland)\n',
 "Emmitsburg (Mount St. Mary's University)[2]\n",
 'Frostburg (Frostburg State University)[5]\n',
 'Princess Anne (University of Maryland Eastern Shore)[5]\n',
 'Towson (Towson University, Goucher College)[2]\n',
 'Salisbury (Salisbury University)[2]\n',
 'Westminster (McDaniel College)\n',
 'Massachusetts[edit]\n',
 'Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)\n',
 'Bridgewater (Bridgewater State College)[2]\n',
 'Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]\n',
 'Chestnut Hill (Boston College)\n',
 'The Colleges of Worcester Consortium:\n',
 'Dudley (Nichols College)\n',
 'North Grafton (Cummings School of Veterinary Medicine at Tufts University)\n',
 'Paxton (Anna Maria College)\n',
 'Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)\n',
 'The Five College Region of Western Massachusetts:\n',
 'Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]\n',
 'Northampton (Smith College)\n',
 'South Hadley (Mount Holyoke College)\n',
 'Fitchburg (Fitchburg State College)\n',
 'North Adams (Massachusetts College of Liberal Arts)\n',
 'Springfield (American International College), (Springfield College), and (Western New England College)\n',
 'Waltham (Bentley University), (Brandeis University)\n',
 'Williamstown (Williams College)\n',
 'Framingham (Framingham State University)\n',
 'Michigan[edit]\n',
 'Adrian (Adrian College, Siena Heights University)\n',
 'Albion (Albion College)[17]\n',
 'Allendale (Grand Valley State University)\n',
 'Alma (Alma College)\n',
 'Ann Arbor (University of Michigan)[1]\n',
 'Berrien Springs (Andrews University)[2]\n',
 'Big Rapids (Ferris State University)[2]\n',
 'East Lansing (Michigan State University)[2]\n',
 'Flint (Kettering University, University of Michigan-Flint)\n',
 'Hillsdale (Hillsdale College)\n',
 'Houghton (Michigan Technological University)[5]\n',
 'Kalamazoo (Western Michigan University, Kalamazoo College)[2]\n',
 'Marquette (Northern Michigan University)[2]\n',
 'Midland (Northwood University)\n',
 'Mount Pleasant (Central Michigan University)[2]\n',
 'Olivet (Olivet College)[2]\n',
 'Saginaw (Saginaw Valley State University)\n',
 'Sault Ste. Marie (Lake Superior State University)\n',
 'Spring Arbor (Spring Arbor University)[2]\n',
 'Ypsilanti (Eastern Michigan University)[2]\n',
 'Minnesota[edit]\n',
 'Bemidji (Bemidji State University)[2]\n',
 'Crookston (University of Minnesota Crookston)[2]\n',
 'Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of WisconsinSuperior, Duluth Business University\n',
 'Faribault, South Central College\n',
 'Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College\n',
 'Marshall (Southwest Minnesota State University)[2]\n',
 'Moorhead (Minnesota State University, Moorhead, Concordia College)[18]\n',
 'Morris (University of Minnesota Morris)[2]\n',
 'Northfield (Carleton College, St. Olaf College)[5]\n',
 'North Mankato, South Central College\n',
 'St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]\n',
 'St. Joseph (College of Saint Benedict)[2]\n',
 'St. Peter (Gustavus Adolphus College)[2]\n',
 "Winona (Winona State University, St. Mary's University of Minnesota)[19]\n",
 'Mississippi[edit]\n',
 'Cleveland (Delta State University)[2]\n',
 'Hattiesburg (University of Southern Mississippi)[20]\n',
 'Itta Bena (Mississippi Valley State University)[2]\n',
 'Oxford (University of Mississippi)[2]\n',
 'Starkville (Mississippi State University)[2]\n',
 'Missouri[edit]\n',
 'Bolivar (Southwest Baptist University)[2]\n',
 'Cape Girardeau (Southeast Missouri State University)[2]\n',
 'Columbia (University of Missouri, Stephens College, Columbia College)[20]\n',
 'Fayette (Central Methodist University)[2]\n',
 'Fulton (Westminster College and William Woods University).\n',
 'Kirksville (Truman State University, A. T. Still University)[2]\n',
 'Maryville (Northwest Missouri State University)[2]\n',
 'Rolla (Missouri University of Science and Technology)[2]\n',
 'Warrensburg (University of Central Missouri)[5]\n',
 'Montana[edit]\n',
 'Bozeman (Montana State University)[2]\n',
 'Dillon (University of Montana Western)[2]\n',
 'Missoula (University of Montana)[5]\n',
 'Nebraska[edit]\n',
 'Chadron (Chadron State College)[5]\n',
 'Crete (Doane College)[2]\n',
 'Kearney (University of Nebraska at Kearney)[2]\n',
 'Lincoln (University of Nebraska at Lincoln)[5]\n',
 'Peru (Peru State College)[2]\n',
 'Seward (Concordia University)[2]\n',
 'Wayne (Wayne State College)[2]\n',
 'Nevada[edit]\n',
 'Las Vegas (University of Nevada, Las Vegas)\n',
 'Reno (University of Nevada, Reno)\n',
 'New Hampshire[edit]\n',
 'New London, New Hampshire (Colby-Sawyer College)\n',
 'Durham (University of New Hampshire)[2]\n',
 'Hanover (Dartmouth College)[5]\n',
 'Henniker (New England College)\n',
 'Keene (Keene State College)[2]\n',
 'Plymouth (Plymouth State University)[2]\n',
 'Rindge (Franklin Pierce University)\n',
 'New Jersey[edit]\n',
 'Ewing (The College of New Jersey), (Rider University)\n',
 "Jersey City (New Jersey City University), (Saint Peter's University)\n",
 'Glassboro (Rowan University)[2]\n',
 'Hoboken (Stevens Institute of Technology)\n',
 'Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)\n',
 'Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)\n',
 'New Brunswick (Rutgers University)[5]\n',
 'Princeton (Princeton University)[5]\n',
 'Union (Kean University)\n',
 'West Long Branch (Monmouth University)\n',
 'New Mexico[edit]\n',
 'Hobbs (University of the Southwest)[2]\n',
 'Las Cruces (New Mexico State University)[2]\n',
 'Las Vegas (New Mexico Highlands University)[2]\n',
 'Portales (Eastern New Mexico University)[2]\n',
 'Silver City (Western New Mexico University)[2]\n',
 'New York[edit]\n',
 'Alfred (Alfred University, Alfred State College)[2]\n',
 'Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)\n',
 'Aurora (Wells College)[21]\n',
 'Binghamton (Binghamton University)[2]\n',
 'Brockport (SUNY Brockport)[5]\n',
 'Buffalo (University at Buffalo)\n',
 'Canton (St. Lawrence University, SUNY Canton)[2]\n',
 'Clinton (Hamilton College)[2]\n',
 'Cobleskill (SUNY Cobleskill)[2]\n',
 'Delhi (SUNY Delhi)[2]\n',
 'Fredonia (SUNY Fredonia)[2]\n',
 'Geneseo (SUNY Geneseo)[2]\n',
 'Geneva (Hobart and William Smith Colleges)\n',
 'Hamilton (Colgate University)[2]\n',
 'Ithaca (Cornell University, Ithaca College)[1]\n',
 'Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)\n',
 'New Paltz (SUNY New Paltz)[2]\n',
 'Oneonta (SUNY Oneonta, Hartwick College)[2]\n',
 'Oswego (SUNY Oswego)[2]\n',
 'Plattsburgh (SUNY Plattsburgh)[2]\n',
 'Potsdam (SUNY Potsdam, Clarkson University)[2]\n',
 'Poughkeepsie (Vassar College, Marist College)[2]\n',
 'Purchase (Purchase College, Manhattanville College)[2]\n',
 'Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]\n',
 'Saratoga Springs (Skidmore College)[2]\n',
 'Seneca Falls (New York Chiropractic College)\n',
 'Stony Brook (Stony Brook University)\n',
 'Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)\n',
 'Tivoli (Bard College)\n',
 'Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)\n',
 'West Point (United States Military Academy)\n',
 'North Carolina[edit]\n',
 'Banner Elk (Lees-McRae College)\n',
 'Boiling Springs (Gardner-Webb University)[2]\n',
 'Boone (Appalachian State University)[2]\n',
 'Buies Creek (Campbell University)[2]\n',
 'Chapel Hill (University of North Carolina at Chapel Hill)[20]\n',
 'Cullowhee (Western Carolina University)[2]\n',
 'Davidson (Davidson College)[5]\n',
 'Durham (Duke University, North Carolina Central University)[5]\n',
 'Elon (Elon University)[2]\n',
 'Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)\n',
 'Greenville (East Carolina University)[2]\n',
 'Hickory (Lenoir-Rhyne University)[2]\n',
 'Mars Hill (Mars Hill College)[2]\n',
 'Mount Olive (Mount Olive College)[2]\n',
 'Pembroke (University of North Carolina at Pembroke)[2]\n',
 'Wilmington, North Carolina (University of North Carolina at Wilmington)\n',
 'Wingate (Wingate University)[2]\n',
 'Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)\n',
 'North Dakota[edit]\n',
 'Fargo (North Dakota State University)[18]\n',
 'Grand Forks (University of North Dakota)[5]\n',
 'Ohio[edit]\n',
 'Ada (Ohio Northern University)[2]\n',
 'Alliance (University of Mount Union)\n',
 'Ashland (Ashland University)[2]\n',
 'Athens (Ohio University)[2]\n',
 'Berea (Baldwin Wallace College)\n',
 'Bluffton (Bluffton University)[2]\n',
 'Bowling Green (Bowling Green State University)[2]\n',
 'Cedarville (Cedarville University)[2]\n',
 'Columbus (Ohio State University)\n',
 'Delaware (Ohio Wesleyan University)\n',
 'Fairborn (Wright State University)\n',
 'Findlay (University of Findlay)\n',
 'Gambier (Kenyon College)[2]\n',
 'Granville (Denison University)[2]\n',
 'Hiram (Hiram College)[2]\n',
 'Kent (Kent State University)[2]\n',
 'Nelsonville (Hocking College)[2]\n',
 'New Concord (Muskingum College)[2]\n',
 'Oberlin (Oberlin College)[5]\n',
 'Oxford (Miami University)[5]\n',
 'Rio Grande (University of Rio Grande)[2]\n',
 'Wilberforce (Wilberforce University, Central State University)[2]\n',
 'Oklahoma[edit]\n',
 'Ada (East Central University)[2]\n',
 'Alva (Northwestern Oklahoma State University)[2]\n',
 'Durant (Southeastern Oklahoma State University)[2]\n',

In [5]:
university_list = pd.read_table('university_towns.txt', header=None, names=['list'])
university_list

                                                  list
0                                        Alabama[edit]
1                        Auburn (Auburn University)[1]
2               Florence (University of North Alabama)
3      Jacksonville (Jacksonville State University)[2]
4           Livingston (University of West Alabama)[2]
5             Montevallo (University of Montevallo)[2]
6                            Troy (Troy University)[2]
7    Tuscaloosa (University of Alabama, Stillman Co...
8                    Tuskegee (Tuskegee University)[5]
9                                         Alaska[edit]
10       Fairbanks (University of Alaska Fairbanks)[2]
11                                       Arizona[edit]
12          Flagstaff (Northern Arizona University)[6]
13                    Tempe (Arizona State University)
14                      Tucson (University of Arizona)
15                                      Arkansas[edit]
16   Arkadelphia (Henderson State University, Ouach...
17   Conway (Central Baptist College, Hendrix Colle...
18            Fayetteville (University of Arkansas)[7]
19            Jonesboro (Arkansas State University)[8]
20          Magnolia (Southern Arkansas University)[2]
21   Monticello (University of Arkansas at Monticel...
22          Russellville (Arkansas Tech University)[2]
23                      Searcy (Harding University)[5]
24                                    California[edit]
25                   Angwin (Pacific Union College)[2]
26               Arcata (Humboldt State University)[5]
27    Berkeley (University of California, Berkeley)[5]
28       Chico (California State University, Chico)[2]
29   Claremont (Claremont McKenna College, Pomona C...
..                                                 ...
537          Cheney (Eastern Washington University)[2]
538      Ellensburg (Central Washington University)[5]
539           Pullman (Washington State University)[5]
540  University District, Seattle (University of Wa...
541                                West Virginia[edit]
542                     Athens (Concord University)[2]
543     Buckhannon (West Virginia Wesleyan College)[2]
544            Fairmont (Fairmont State University)[2]
545             Glenville (Glenville State College)[2]
546                Huntington (Marshall University)[2]
547  Montgomery (West Virginia University Institute...
548           Morgantown (West Virginia University)[2]
549             Shepherdstown (Shepherd University)[2]
550          West Liberty (West Liberty University)[2]
551                                    Wisconsin[edit]
552                     Appleton (Lawrence University)
553    Eau Claire (University of WisconsinEau Claire)
554      Green Bay (University of Wisconsin-Green Bay)
555  La Crosse (University of WisconsinLa Crosse, ...
556       Madison (University of WisconsinMadison)[2]
557       Menomonie (University of WisconsinStout)[2]
558  Milwaukee (Marquette University, University of...
559          Oshkosh (University of WisconsinOshkosh)
560  Platteville (University of WisconsinPlattevil...
561  River Falls (University of WisconsinRiver Fal...
562  Stevens Point (University of WisconsinStevens...
563                      Waukesha (Carroll University)
564  Whitewater (University of WisconsinWhitewater...
565                                      Wyoming[edit]
566                 Laramie (University of Wyoming)[5]

[567 rows x 1 columns]

In [6]:
university_list['list'] = university_list['list'].map(lambda x: x[:x.index(' (')] if '(' in x else x)
state_list = university_list['list'].where(university_list['list'].str.endswith('[edit]'))
state_list = state_list.dropna().map(lambda x: x.rstrip('[edit]'))

In [7]:
state_university_list = pd.concat([state_list, university_list], axis=1)
state_university_list.columns = ['State', 'RegionName']
state_university_list['State'].fillna(method='ffill', inplace=True)
state_university_list

             State                    RegionName
0          Alabama                 Alabama[edit]
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
9           Alaska                  Alaska[edit]
10          Alaska                     Fairbanks
11         Arizona                 Arizona[edit]
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
15        Arkansas                Arkansas[edit]
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
24      California              California[edit]
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
..             ...                           ...
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
541  West Virginia           West Virginia[edit]
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
551      Wisconsin               Wisconsin[edit]
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
565        Wyoming                 Wyoming[edit]
566        Wyoming                       Laramie

[567 rows x 2 columns]

In [8]:
state_university_list.drop(state_list.index).reset_index()[['State', 'RegionName']]

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [66]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [16]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    university_list = pd.read_table('university_towns.txt', header=None, names=['list'])
    university_list['list'] = university_list['list'].map(lambda x: x[:x.index(' (')] if '(' in x else x)
    state_list = university_list['list'].where(university_list['list'].str.endswith('[edit]'))
    state_list = state_list.dropna().map(lambda x: x.rstrip('[edit]'))
    state_university_list = pd.concat([state_list, university_list], axis=1)
    state_university_list.columns = ['State', 'RegionName']
    state_university_list['State'].fillna(method='ffill', inplace=True)
    state_university_list
    return state_university_list.drop(state_list.index).reset_index()[['State', 'RegionName']]

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [75]:
gdp_by_quarter = pd.read_excel('gdplev.xls', header=5, usecols='E:G')
gdp_by_quarter = gdp_by_quarter.reset_index().drop([0, 1]).reset_index().drop('level_0', axis=1)
gdp_by_quarter.rename(columns = {'Unnamed: 2': 'quarter'}, inplace=True)
gdp_by_quarter

,index,GDP in billions of current dollars,GDP in billions of chained 2009 dollars
0,1947q1,243.1,1934.5
1,1947q2,246.3,1932.3
2,1947q3,250.1,1930.3
3,1947q4,260.3,1960.7
4,1948q1,266.2,1989.5
5,1948q2,272.9,2021.9
6,1948q3,279.5,2033.2
7,1948q4,280.7,2035.3
8,1949q1,275.4,2007.5
9,1949q2,271.7,2000.8
10,1949q3,273.3,2022.8
11,1949q4,271.0,2004.7
12,1950q1,281.2,2084.6
13,1950q2,290.7,2147.6
14,1950q3,308.5,2230.4
15,1950q4,320.3,2273.4
16,1951q1,336.4,2304.5
17,1951q2,344.5,2344.5
18,1951q3,351.8,2392.8
19,1951q4,356.6,2398.1
20,1952q1,360.2,2423.5
21,1952q2,361.4,2428.5
22,1952q3,368.1,2446.1
23,1952q4,381.2,2526.4
24,1953q1,388.5,2573.4
25,1953q2,392.3,2593.5
26,1953q3,391.7,2578.9
27,1953q4,386.5,2539.8
28,1954q1,385.9,2528.0
29,1954q2,386.7,2530.7
...,...,...,...
248,2009q1,14383.9,14375.0
249,2009q2,14340.4,14355.6
250,2009q3,14384.1,14402.5
251,2009q4,14566.5,14541.9
252,2010q1,14681.1,14604.8
253,2010q2,14888.6,14745.9
254,2010q3,15057.7,14845.5
255,2010q4,15230.2,14939.0
256,2011q1,15238.4,14881.3
257,2011q2,15460.9,14989.6
258,2011q3,15587.1,15021.1
259,2011q4,15785.3,15190.3
260,2012q1,15973.9,15291.0
261,2012q2,16121.9,15362.4
262,2012q3,16227.9,15380.8
263,2012q4,16297.3,15384.3
264,2013q1,16475.4,15491.9
265,2013q2,16541.4,15521.6
266,2013q3,16749.3,15641.3
267,2013q4,16999.9,15793.9
268,2014q1,17025.2,15747.0
269,2014q2,17285.6,15900.8
270,2014q3,17569.4,16094.5
271,2014q4,17692.2,16186.7
272,2015q1,17783.6,16269.0
273,2015q2,17998.3,16374.2
274,2015q3,18141.9,16454.9
275,2015q4,18222.8,16490.7
276,2016q1,18281.6,16525.0
277,2016q2,18450.1,16583.1

In [92]:
# check whether previous quarter's GDP is greater than the current quarter's

recession_start_quarter = (gdp_by_quarter['GDP in billions of current dollars'] > gdp_by_quarter.shift(-1)['GDP in billions of current dollars']) & \
    (gdp_by_quarter['GDP in billions of current dollars'].shift(-1) > gdp_by_quarter.shift(-2)['GDP in billions of current dollars'])
recession_start_quarter

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25      True
26      True
27     False
28     False
29     False
       ...
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
Name: GDP in billions of current dollars, Length: 278, dtype: bool

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"